* {
    box-sizing: border-box;
}

body {
    background-color: rgb(19, 61, 100);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    font-size: 3em;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 3px black;
    margin: 15px;
}

#canvas {
    background-color: red;
    border: 5px solid black;
    display: flex;
    flex-wrap: wrap;
    width: 640px;
    height: 640px;
}

.square {
    background-color: white;
    width: 6.25%;
    height: 6.25%;
}

#sizeBtn {
    padding: 15px 20px;
    font-size: 1em;
    margin: 20px;
}